
/*'Nunito', sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/*'Bitter', serif;*/
/*@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&display=swap');
/*'Noto Serif', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');


/*MENI*/
.meni {
  margin: 0;
  padding: 0;
  background-color: rgb(54, 85, 99);
  height: 70px;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  
}

.aboutstranica {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
/*BIOGRAFIJA*/
.biografija {
  border-radius: 20px;
  border-style: none;
  height: 500px;
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.biografija .deo1 {
  flex: 37%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.biografija .deo1 .deo1deo1 {
  flex: 33%;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 20px;
}

.biografija .deo1 .deo1deo2 {
  flex: 33%;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.biografija .deo1 .deo1deo3 {
  flex: 33%;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.biografija .deo2 {
  flex: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 200px; 
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.aboutportret {
  height: 370px;
  border-radius: 10px;
}

.biografijanaslov {
  font-size: 27px;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 15px;
  color:  #20293a;
}

.biografija .deo3 {
  flex: 37%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.biografija .deo3 .deo3deo1 {
  flex: 33%;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.biografija .deo3 .deo3deo2 {
  flex: 33%;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.biografija .deo3 .deo3deo3 {
  flex: 33%;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/*HOEMPAGE*/
.homepage{
  background-image: url("./components/images/konacna.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 50px;
  
}

.homepage .tekst {
  width: 650px;
  padding-top: 250px;
  text-align: center;
}

.homepage .tekst .citathomepage {
  font-size: 23px;
  padding-bottom: 20px;
  font-family: 'Bitter', serif;
  font-weight: bold;
  color: #0f141f;
}

.homepage .tekst .opisstranice {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 5px;
  color: #080d14; 
}

/*SLIKE-GALERIJA*/
.slika {
  height: 420px;
  width: 320px;
  border-style: none ;
  justify-content: center;
  border-radius: 20px ;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}


.slika .kratakopis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.slika .kratakopis .kratakopisslike {
  font-style: italic;
  height: 5px;
  color: #263238; 
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
}

.slika .kratakopis .nazivslike{
  height: 15px;
  padding-bottom: 15px;
  font-family: 'Bitter', serif;
  font-size: 20px;
}

.slika .kratakopis .muzej{
  height: 8px; 
  font-family: 'Nunito', sans-serif;
}


.sveslike{
  display: flex;
  justify-content: center;
  block-size: 480px;
  
}

/*MENI*/
.ceomeni{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5FBFF;
  
}

.ceomeni .potpis {
  height: 50px;
  margin-top: 7px;
}

.ceomeni .stranice {
  margin-bottom: 10px;
  font-family: 'Nunito', sans-serif;
  
}

.ceomeni .stranice a:hover{
  border-bottom: 3px solid  rgb(54, 85, 99);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*PAGINACIJA*/
.paginationBttns {
  width: 100%;
  height: 50px;
  font-size: 15;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.paginationBttns a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  
  margin: 10px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.paginationBttns a:hover {
  color:rgb(54, 85, 99);
  background-color: white;
}

.paginationActive a {
  color: rgb(54, 85, 99);
  background-color: white;
}

/*FORMA SUBSCRIBE*/
.formasve {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 700px;
  height: 400px;
  border-radius: 20px;
  border-style: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.form .inputs {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form .inputs .forma .inputpolje {
  height: 50px;
  border: none;
  background-color:rgb(54, 85, 99);
  border-radius: 12px;
  
}

.inputnaslov {
  width: 270px;
  text-align: center;
  padding-bottom: 23px;
  font-size: 19px;
  font-family: 'Nunito', sans-serif;
}


.slikavangogh {
  flex: 50%;
  padding-left: 15px;
}

.slikaforma {
  width: 310px;
  border-radius: 10px;
  
}


p {
  height: 5px;
  text-align: center;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
}

::placeholder{
  color: white;
  font-family: 'Nunito', sans-serif;
}

.form .inputs .forma {
  align-items:  center;
}

input {
  height: 30px;
  width: 270px;
  font-size: 20px;
}

input[type=submit] {
  background-color: cadetblue;
  border: none;
  color: #20293a;
  border-radius: 10px;
  
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: #20293a;
  color: white;
}

.inputdugme {
  width: 100px;
}

.submitdugme {
  height: 30px;
  font-size: 17px;
  font-family: 'Nunito', sans-serif;
}

/*dugme about na homepage*/

.about {
  font-size: 17px;
  border: none;
  border-radius: 7px;
  margin: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color:white;
  font-family: 'Nunito', sans-serif;
  background-color: #455a64;
  text-decoration: none;
  cursor: pointer;
}

.about:hover {
  background-color:white;
  color:#455a64;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*FOOTER*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F5FBFF;
  height: 120px;
}

footer .flogo {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .finstagram {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .flinkovi {
  flex: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .flogo .fpotpis {
  height: 40px;
}

footer .finstagram .finsta {
  height:40px;
  cursor:pointer;
}

footer .flinkovi {
  display: flex;
  flex-direction: column;
}

/*SCROLL BAR*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #20293a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
